.taskPage {
	position: absolute;
	z-index: -1;
	width: 100%;
	min-height: 100%;
	height: max-content;
}
.jobField {
	display: flex;
	flex-direction: column;
	height: max-content;
	width: 94%;
	margin-left: 50%;
	margin-right: 50%;
	transform: translate(-50%);
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
	border-radius: 0px 0px 30px 30px;
	background-color: #FFFFFF;
	z-index: -1;
	padding-bottom: 20px; 
}
.whoAuthorTask {
    display: flex;
	margin-top: 80px;
	margin-left: 42px;
	color: #969696;
	font-size: 10px;
	user-select: none;
}
.authorTask, .dateAdd {
	display: inline-block;
}
.authorTask {
	margin-right: 5px;
}
.dateAdd {
	margin-left: 5px;
}
.nameTask {
	margin-left: 42px;
	font-size: 28px;
	user-select: none;
}
.taskDescription {
	margin-left: 40px;
	margin-right: 40px;
	font-size: 14px;
	white-space: pre-line;
	word-break: break-word;
	word-wrap: break-word;
}
.fieldDocuments {
    display: flex;
	margin-top: 190px;
	font-size: 18px;
	margin-left: 40px;
	z-index: 5;
}
.fieldForComments {
	width: 100%;
	z-index: -2;
}
.fieldComments {
    width: 86%;
	height: 100%;
	margin-left: 50%;
	margin-right: 50%;
	transform: translate(-50%);
	padding: 15px;
	margin-bottom: 170px;
	font-size: 30px;
}
.footer {
    position: fixed;
	bottom: 0%;
	height: 170px;
	width: 94%;
	background-color: #FFFFFF;
	z-index: 1;
	margin-left: 50%;
	margin-right: 50%;
	transform: translate(-50%);
	box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
	border-radius: 30px 30px 0px 0px;
}
.fieldWriting {
    display: flex;
	justify-content: center;
}
.textarea {
    margin-top: 20px;
	position: absolute;
	resize: none;
	height: 75px;
	width: 90%;
	box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	background-color: #F8F8F8;
	border: 0px;
	outline: none;
	padding: 10px;
	font-size: 14px;
}
.error {
	font-size: 14px;
   color: #b72025;
   user-select: none;
}
.submit {
    position: absolute;
	left: 4.15%;
	bottom: 15px;
	background-color: #15499F;
	border-radius: 10px;
	width: 30%;
	height: 30px;
	text-align: center;
	color: #FFFFFF;
	border: 0px;
}
.submit:hover {
	background-color: #2B74B9;
}
@media (max-width: 1000px){
	.whoAuthorTask{
		margin-left: 35px;
	}
	.nameTask{
		margin-left: 35px;
	}
	.taskDescription{
		margin-left: 35px;
	}
	.fieldDocuments{
		margin-left: 35px;
	}
}
@media (max-width: 800px){
	.jobField {
		border-radius: 0 0 25px 25px;
	}
	.footer {
		border-radius: 25px 25px 0 0;
	}
	.whoAuthorTask{
		margin-left: 30px;
	}
	.nameTask{
		margin-left: 30px;
	}
	.taskDescription{
		margin-left: 30px;
	}
	.fieldDocuments{
		margin-left: 30px;
	}
}
@media (max-width: 600px){
	.jobField {
		border-radius: 0 0 20px 20px;
	}
	.footer {
		border-radius: 20px 20px 0 0;
	}
	.whoAuthorTask{
		margin-left: 25px;
	}
	.nameTask{
		margin-left: 25px;
	}
	.taskDescription{
		margin-left: 25px;
	}
	.fieldDocuments{
		margin-left: 25px;
	}
}
@media (max-width: 400px){
	.jobField {
		border-radius: 0 0 15px 15px;
	}
	.footer {
		border-radius: 15px 15px 0 0;
	}
	.whoAuthorTask{
		margin-left: 20px;
	}
	.nameTask{
		margin-left: 20px;
	}
	.taskDescription{
		margin-left: 20px;
	}
	.fieldDocuments{
		margin-left: 20px;
	}
}
@media (max-width: 300px){
	.jobField {
		border-radius: 0 0 10px 10px;
	}
	.footer {
		border-radius: 10px 10px 0 0;
	}
	.whoAuthorTask{
		margin-left: 15px;
	}
	.nameTask{
		margin-left: 15px;
	}
	.taskDescription{
		margin-left: 15px;
	}
	.fieldDocuments{
		margin-left: 15px;
	}
}