.header {
	position: absolute;
	background-color: #15499F;
	width: 100%;
	height: 50px;
	box-shadow: 0px 4px 30px rgba(21, 73, 159, 0.3);
	border-radius: 0px 0px 20px 20px;
	display: flex;
	align-items: center;
    color: #FFFFFF;
	user-select: none;
}

.iconVectorBack {
	border: none;
    width: 25px;
	height: 25px;
	margin-left: 50px;
	padding: 5px;
}
.iconVectorBack:hover {
	border-radius: 5px;
	background-color: #2B74B9;
}
.plug {
	visibility: hidden;
	opacity: 0;
}

.titleHeader {
	font-size: 26px;
	margin-left: 10px;
	max-width: 500px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 1200px){
    .iconVectorBack{
        margin-left: 50px;
    }
}
@media (max-width: 992px){
    .iconVectorBack{
        margin-left: 25px;
    }
	.titleHeader{
		font-size: 24px;
    }
}
@media (max-width: 767px){
    .iconVectorBack{
        margin-left: 10px;
    }
	.titleHeader{
		font-size: 22px;
    }
}
@media (max-width: 370px){
    .iconVectorBack{
        width: 20px;
		height: 20px;
    }
	.titleHeader{
		font-size: 18px;
    }
}
@media (max-width: 300px){
	.iconVectorBack{
        width: 17.5px;
		height: 17.5px;
    }
	.titleHeader{
		font-size: 16px;
    }
}

.fieldUser {
	margin-left: auto;
	margin-right: 20px;
	height: 100%;
	padding: 0 10px;
	display: flex;
	align-items: center;
}
.fieldUser:hover {
	background-color: #2B74B9;
}
.avaUser {
    width: 35px;
	height: 35px;
}
.nameUser {
	max-width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    margin-left: 15px;
	font-size: 16px;
}
.iconExitSection {
	width: 25px;
	height: 25px;
	margin-right: 35px;
	padding: 5px;
}
.iconExitSection:hover {
	border-radius: 5px;
	background-color: #2B74B9;
}
@media (max-width: 820px){
    .avaUser {
		display: none;
	}
}
@media (max-width: 780px){
    .fieldUser {
		display: none;
	}
	.iconExitSection {
		margin-left: auto;
		margin-right: 20px;
	}
}
@media (max-width: 400px){
	.iconExitSection {
		width: 20px;
		height: 20px;
	}
}