.room {
    width: 340px;
	height: 175px;
	padding: 10px;
	background-color: #15499F;
	margin: 10px;
	border-radius: 25px;
    user-select: none;
	white-space: pre-line;
	word-break: break-word;
	word-wrap: break-word;
}
.room:hover {
    background-color: #2B74B9;
}
.nameRoom {
	margin-top: 5px;
	margin-left: 5px;
	letter-spacing: 0.5px;
	font-size: 28px;
	color: #FFFFFF;
}
.authorRoom {
	margin-left: 5px;
	font-size: 14px;
	color: #FFFFFF;
}
@media (max-width: 400px) {
	.room {
		width: 300px;
		height: 150px;
	}
}
@media (max-width: 325px) {
	.room {
		width: 200px;
		height: 125px;
		border: 10px;
	}
	.nameRoom {
		font-size: 22px;
	}
	.authorRoom {
		font-size: 12px;
	}
}